# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

STREAM_RAW_TOPIC=abc
STREAM_PROCESSED_TOPIC=abc
STREAM_DLQ_TOPIC=abc

STREAM_CONSUMER_GROUP=abc

# Ingestion (lấy dữ liệu)
LAT=10.8231    #latitude: vĩ độ (TP HCM)
LON=106.6297   #lalongitude: kinh độ (TP HCM)
FETCH_INTERVAL_SECONDS=5

# Processing (xử lý dữ liệu)
CHECKPOINT_PATH=/tmp/checkpoints/weather_stats

# Database
DB_HOST=POSTGRES
DB_PORT=5432
DB_NAME=abc
DB_USER=abc
DB_PASSWORD=123

# API
API_PORT=8000